.campaign{
//root of the campaign page
// background-color: black;

  width: 95%;
  margin: 0 auto;
  max-width: 1200px;

  .campaign-TopChunk{
    display: flex;
    font-family: $indie-font-family;
    margin-top: 40px;

    h1{
      padding: 0;
      margin: 0;
      font-size: 28px;
      font-weight: normal;
      color: $indie-gray;
      font-weight: bold;
    }
    h2{
      padding: 0;
      margin: 0;
      font-size: 20px;
      font-weight: normal;
      color: $indie-xgray;
    }
    img{
      max-width: 65%;
      // width: 690px;
      // height: 460px;
      // box-sizing: border-box;
    }

    .campaign-TopChunk-right{
      // border: 1px solid black;

      margin-left: 20px;
      padding: 0 12px 0 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      ul{
        list-style: none;
      }

      .campaign-author-info{
        margin-left: 30px;
        margin-bottom: 15px;
        display: flex;
        // background-color: black;
        // border: 1px solid black;
        font-size: 12px;
        img{
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }
        color: $indie-xgray;
      }

      .statusArea{
        // border: 1px solid black;

        font-size: 14px;
        li:first-of-type{
          font-size: 16px;
        }

        .campaign-bar-background{
          margin: 5px 0 5px 0;
          width: 100%;
          height: 10px;
          background-color: $indie-lightgray;
          position: relative;
        }
        .campaign-bar-foreground{
          background-color: $indie-aqua;
          height: 10px;
          position: absolute;
          // width: 30%;
        }

      }
      .campaign-backit-button{
        border: 1px solid $indie-pink;
        background-color: $indie-pink;
        color: white;
        letter-spacing: 1px;
        border-radius: 2px;
        font-size: 14px;
        width: 160px;
        height: 40px;
        line-height: 250%;
        text-align: center;
      }

    }

  }

  .campaign-overview{
    width: 55%;
    font-family: $indie-font-family;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    // border: 1px solid black;
    // padding: 10px;
    // align-content: center;
    // align-items: center;

    .overview-title{
      // width: 100%;
      flex: 0 0 100%;
      // flex-basis: auto;
      // display: block;
      color: $indie-xgray;
      h3{
        font-size: 16px;
        font-weight: normal;
        font-family: $indie-font-family;
        margin: 0;
        padding: 0;
        margin-top: 20px;
      }
      border-bottom: 1px solid $indie-lightgray;
    }
    img{
      margin: 20px 20px 20px 0;
      // background-color: yellow;
      // flex-basis: 70%;
      width: 250px;
      height: 190px;
    }
    div{
      margin-top: 20px;

      // flex: 0 0 auto;
      // flex-basis: 30%;
      // width: 400px;
      box-sizing: border-box;
      // border: 1px solid black;
    }
  }

  .campaign-dynamicbox{
    width: 55%;
    font-family: $indie-font-family;
    min-height: 1000px;
    margin-top: 20px;
    .dynamicbox-navbar{
      border-bottom: 1px solid $indie-lightgray;
      padding-bottom: 5px;
      ul{
        display: flex;
        list-style: none;
        li{
          margin-right: 10px;
          cursor: pointer;
          color: $indie-xgray;
        }
        li:hover{
          color: $indie-pink-hover;
        }

        .dynamic-selected{
          color: $indie-pink;
          font-weight: bold;
        }
      }
    }
  }

  .campaign-perks-box{
    // border: 1px solid black;
    width: 40%;
    position: absolute;
    right: 50px;
    top: 547px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    h3{
      width: 60%;
      color: $indie-xgray;
      font-size: 16px;
      font-weight: normal;
      font-family: $indie-font-family;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      border-bottom: 1px solid $indie-lightgray;
      margin-bottom: 20px;
    }
    .perkbox{
      cursor: pointer;
      box-sizing: border-box;
      width: 60%;
      border: 1px solid $indie-lightgray;
      margin-bottom: 15px;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      font-family: $indie-font-family;
      // padding: 20px;
      ul{
        margin: 20px;
        list-style: none;
        .perk-price{
          font-size: 24px;
          font-weight: bold;
        }
        .perk-title{
          margin-top: 5px;

        }
        .perk-desc{
          margin-top: 5px;
          font-size: 14px;

        }
        .perk-rem{
          color: $indie-perk-text-gray;
          font-size: 12px;
          margin-bottom: 20px;
        }
      }
      .perk-eta{
        // display: none;
        box-sizing: border-box;
        // position: absolute;
        width: 100%;
        // border: 1px solid $indie-lightgray;
        // border-top: 0;
        color: $indie-xgray;
        text-align: center;
        line-height: 300%;
        text-transform: uppercase;
        left: 0;
        height: 40px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: $indie-perk-gray;
        position: relative;
      }
      .perk-eta-selected{
        background-color: $indie-pink;
        color: white;
        position: absolute;
        width: 100%;
        margin: 0;
        bottom: 0;
        // top: 0;
        box-sizing: border-box;
      }
      .perk-eta-hidden{
        display: none;
      }
    }
  }
}
