.campaign{
//root of the campaign page

  width: 95%;
  margin: 0 auto;
  max-width: 1200px;

  .campaign-TopChunk{
    display: flex;
    font-family: $indie-font-family;
    margin-top: 40px;

    h1{
      padding: 0;
      margin: 0;
      font-size: 28px;
      font-weight: normal;
      color: $indie-gray;
      font-weight: bold;
    }
    h2{
      padding: 0;
      margin: 0;
      font-size: 20px;
      font-weight: normal;
      color: $indie-xgray;
    }
    img{
      max-width: 65%;
    }
    .campaign-TopChunk-mainimg{
      height: 420px;
      width: 615px;
    }

    .campaign-TopChunk-right{

      margin-left: 20px;
      padding: 0 12px 0 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      ul{
        list-style: none;
      }

      .campaign-author-info{
        margin-left: 30px;
        margin-bottom: 15px;
        display: flex;
        font-size: 12px;
        img{
          width: 90px;
          height: 90px;
          clip-path: circle(35% at 50% 50%);
        }
        ul{
          align-self: center;

        }
        a{
          color: $indie-pink
        }
        a:hover{
          text-decoration: underline;
        }
        color: $indie-xgray;
      }

      .statusArea{

        font-size: 14px;
        li:first-of-type{
          font-size: 16px;
        }

        .campaign-bar-background{
          margin: 5px 0 5px 0;
          width: 100%;
          height: 10px;
          background-color: $indie-lightgray;
          position: relative;
        }
        .campaign-bar-foreground{
          background-color: $indie-aqua;
          height: 10px;
          position: absolute;
        }

      }
      a{
        text-decoration: none;
      }
      .campaign-backit-button{
        border: 1px solid $indie-pink;
        background-color: $indie-pink;
        color: white;
        letter-spacing: 1px;
        border-radius: 2px;
        font-size: 14px;
        width: 160px;
        height: 40px;
        line-height: 275%;
        text-align: center;
        cursor: pointer;
        a{
          text-decoration: none;
          color: white;
        }
      }

    }

  }

  .campaign-overview{
    width: 55%;
    font-family: $indie-font-family;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;

    .overview-title{
      flex: 0 0 100%;
      color: $indie-xgray;
      h3{
        font-size: 16px;
        font-weight: normal;
        font-family: $indie-font-family;
        margin: 0;
        padding: 0;
        margin-top: 20px;
      }
      border-bottom: 1px solid $indie-lightgray;
    }
    img{
      margin: 20px 20px 20px 0;
      width: 250px;
      height: 190px;
    }
    .overview-text{
      margin-top: 20px;
      flex-basis: 55%;
      box-sizing: border-box;
    }
  }

  .campaign-perks-box{
    width: 40%;
    vertical-align: top;
    float: right;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    h3{
      width: 60%;
      color: $indie-xgray;
      font-size: 16px;
      font-weight: normal;
      font-family: $indie-font-family;
      margin: 0;
      padding: 0;
      margin-top: 25px;
      border-bottom: 1px solid $indie-lightgray;
      margin-bottom: 20px;
    }
    .perkbox{
      cursor: pointer;
      box-sizing: border-box;
      width: 60%;
      border: 1px solid $indie-lightgray;
      margin-bottom: 15px;
      font-family: $indie-font-family;
      ul{
        margin: 20px;
        list-style: none;
        .perk-price{
          font-size: 24px;
          font-weight: bold;
        }
        .perk-title{
          margin-top: 5px;

        }
        .perk-desc{
          margin-top: 5px;
          font-size: 14px;

        }
        .perk-rem{
          color: $indie-perk-text-gray;
          font-size: 12px;
          margin-bottom: 20px;
        }
      }
      .perk-eta{
        box-sizing: border-box;
        width: 100%;
        color: $indie-xgray;
        text-align: center;
        line-height: 300%;
        text-transform: uppercase;
        left: 0;
        height: 40px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: $indie-perk-gray;
        position: relative;
      }
      .perk-eta-selected{
        background-color: $indie-pink;
        color: white;
        position: absolute;
        width: 100%;
        margin: 0;
        bottom: 0;
        box-sizing: border-box;
      }
      .perk-eta-hidden{
        display: none;
      }
    }
  }
}
