.campaign-tile{
  width: 275px;
  height: 520px;
  box-sizing: border-box;
  border: 1px solid $indie-lightgray;
  margin: 0;
  padding: 0;
  font-family: $indie-font-family;
  cursor: pointer;

  .tile-image{
    width: 100%;
    height: 283px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    img{
      height: 100%;
    }
  }

  .tile-info{
    padding: 20px 10px;
    padding-top: 10px;
    height: 120px;
    .tile-category-line{
      text-transform: uppercase;
      color: $indie-perk-text-gray;
      margin-bottom: 5px;
      font-size: 12px;
    }
    .tile-title-line{
      font-weight: bold;
      margin-bottom: 5px;
      color: $indie-gray;
    }
    .tile-tagline{
      color: $indie-gray;
    }
  }

  .tile-lowerstats{
    vertical-align: bottom;
    padding: 20px 10px;
    .tile-lowerstats-money{
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }
    .tile-bar-background{
      width: 100%;
      position: relative;
      background-color: $indie-lightgray;
      height: 10px;

      .tile-bar-foreground{
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        background: $indie-pink;
      }
    }
    span{
      margin-top: 10px;
      color: $indie-xgray;
      font-size: 12px;
    }
    .tile-percent{
      float: left;
    }
    .tile-daysleft{
      float: right;
    }
  }
}

.category-tile{
  width: 210px;
  height: 220px;
  position: relative;
  .category-image{
    img{
      width: 100%;
      height: auto;
    }
  }

  .category-black-layer{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
    .category-floating-div{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .category-icon{
        align-self: center;
        width: auto;
        padding: 20px;
        background-color: white;
        clip-path: circle(35% at 50% 50%);
        box-shadow: 0 1px 2px rgba(0,0,0,0.5);

      }
      .category-title{
        font-family: $indie-font-family;
        font-size: 15px;
        color: white;
        margin: 0 auto;
        span{
          letter-spacing: 1px;
          display: inline-block;
          text-shadow: 0 1px 2px rgba(0,0,0,0.5)
        }
      }
    }
  }
  .category-black-layer:hover{
    background-color: rgba(0,0,0,0.25);
  }
}


.category-listing-page{
  width: 95%;
  max-width: 1300px;
  font-family: $indie-font-family;
  margin: 0 auto;
  .category-page-title{
    h1{
      margin:0;
      width: 100%;
      font-weight: normal;
      text-align: center;
      margin-top: 100px;
      font-size: 40px;
      letter-spacing: 1px;
    }
  }

  .category-page-quick-filter-box{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    select{
      padding-left: 20px;
      -webkit-appearance: none;
      width: 300px;
      height: 50px;
      border: 1px solid $indie-pink;
      background-color: white;
      border-radius: 0;
      font-size: 24px;
      margin-top: 50px;
      margin-bottom: 50px;
      color: $indie-pink;
      letter-spacing: 1px;
    }
    select:first-of-type{
      margin-right: 50px;
    }
  }
  .category-page-dropdown-filter{
    .dropdown-filter-controller{
      height: 40px;
      width: 95%;
      max-width: 1300px;
      text-align: right;
      h3{
        font-weight: normal;
        cursor: pointer;
        display: inline-block;
      }
    }
    .dropdown-filter-mainbox{
      width: 100%;
      display: none;
      border-top: 1px solid $indie-xgray;
      border-bottom: 1px solid $indie-xgray;
      justify-content: center;
      padding-bottom: 10px;
      .dropdown-filter-minibox{
        display: inline-block;
        vertical-align: top;
        margin: 0 100px;

      }

      span{
        display: inline-block;
        vertical-align: top;
        line-height: 300%
      }

      .circle-container{
        width: 40px;
        display: inline-block;
        height: 100%;
        vertical-align: bottom;
        .custom-circle{
          box-sizing: border-box;
          border: 1px solid $indie-gray;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: inline-block;
          margin: 8px;
          margin-top: 12px;

        }
        .custom-circle-selected{
          border: 7px solid black;
        }
      }


    }
    .dropdown-opened{
      display: flex;
    }
  }

  .category-tiles-container{
    display: flex;
    margin: 0 auto;
    width: 1180px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    .campaign-tile{
      margin: 10px;

    }
    .campaign-tile:last-of-type{
      margin-right: auto;
    }

  }

  .category-button-div{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;

    .category-show-more-button{
      display: inline-block;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 0;
      background-color: $indie-pink;
      color: white;
      border-radius: 2px;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 14px;
    }
  }

}

.home-page{
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  .category-tiles-array{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    .category-tile{
      margin-bottom: 20px;
    }
  }

}
