.start-campaign-lobby{
  font-family: $indie-font-family;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  .start-campaign-title{
    font-size: 48px;
    margin: 0;
    margin-top: 30px;
  }
  .start-campaign-subtitle{
    margin: 0;
    margin-top: 10px;
    font-weight: normal;
    letter-spacing: 1px;
  }
  form{
    margin-top: 60px;

    label{
      display: block;
      color: $indie-xgray;
      // margin-bottom: 5px;
    }
    input{
      margin-top: 10px;
      height: 40px;
      width: 500px;
      display: block;
      font-size: 16px;
      border: 1px solid $indie-lightgray;
      padding-left: 20px;
      margin-bottom: 50px;
      color: $indie-xgray;
    }
    label:first-of-type > input{
      width: 150px;
    }
    .newcampaign-create-button{
      border: 0;
      background-color: $indie-pink;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 15px 20px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.editor-page{
  // border: 1px solid black;
  font-family: $indie-font-family;
  label{
    margin-bottom: 20px;
  }
  input{
    height: 50px;
    border: 1px solid $indie-basics-gray;
    width: 70%;
    max-width: 700px;
    box-sizing: border-box;
    font-size: 14px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
  textarea{
    max-width: 700px;
    width: 70%;
    height: 50px;
    display: block;
  }
  .editor-image-uploader{
    .big-filepicker{
      cursor: pointer;
      opacity: 0.0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    img{
      width: 100%;
      height: 100%;
    }
    border: 1px solid $indie-xgray;
    position: relative;
  }

  .side-header{
    // width:
    padding-top: 100px;
    color: white;
    width: 200px;
    padding-left: 20px;
    background-color: $indie-working-gray;
    overflow: scroll;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
    height: 100vh;
    float: left;
    position: fixed;
    ul{
      width: 150px;
      li{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        display: block;
        // display: inline;
        // width: auto;
        cursor: pointer;
      }
      li:first-of-type{
        background-color: $indie-working-yellow;
        color: $indie-working-gray;
        border-radius: 2px;
        padding: 3px;
      }
      li:hover{
        background-color: $indie-purple;
        color: white;
      }
      .sideheader-selected{
        border-left: 5px solid $indie-purple;
        padding-left: 15px;
      }
    }
  }
  .editorContent{
    // height: 100vh;
    // overflow: scroll;
    margin-left: 225px;
    .top-headers{
      .editor-topheader{
        height: 40px;
        border-top: 1px solid $indie-xgray;
        border-bottom: 1px solid $indie-xgray;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        h1{
          margin: 0;
          border: 0;
          display: inline-block;
          text-transform: capitalize;
          font-size: 24px;
          font-weight: normal;
          color: $indie-working-gray;
        }
        h1:last-of-type{
          color: $indie-purple;
        }
        button{
          margin-top: 5px;
          float: right;
          border: none;
          padding: 10px 20px;
          background-color: $indie-purple;
          color: white;
          border-radius: 2px;
          text-transform: uppercase;
          font-weight: normal;
          margin-left: 20px;
          letter-spacing: 2px;
        }
      }
    }


    .basics-form{
      input,label{
        display: block;
      }
      .card-img{
        width: 400px;
        height: 400px;
      }
      // .media-selector{
      //   display: block;
      //   border: 1px solid black;
      //   button{
      //     display: inline-block;
      //     border: 0;
      //     border: 1px solid $indie-xgray;
      //     padding: 10px;
      //     text-transform: uppercase;
      //     letter-spacing: 1px;
      //   }
      }

    .story-form{
      .main-img{
        width: 620px;
        height: 415px;
      }
      .overview-img{
        width: 320px;
        height: 240px;

      }
      // .media-selector{
      //   display: block;
      //   border: 1px solid black;
      //   button{
      //     display: inline-block;
      //     border: 0;
      //     border: 1px solid $indie-xgray;
      //     padding: 10px;
      //     text-transform: uppercase;
      //     letter-spacing: 1px;
      //   }
      // }
    }
  }
}
