.wholeApp{
  // position: relative;
  .footer{
    width: 100%;
    height: 200px;
    // position: absolute;
    // position:
    background-color: black;
    // bottom: 0;
    display: block;
    // background-color: black;
    // border: 1px solid black;
    margin-top: 80px;
  }
}
.editor-page{
  // position: relative;
  .footer{
    width: 100%;
    height: 200px;
    // position: absolute;
    // position:
    background-color: $indie-perk-gray;
    // bottom: 0;
    display: block;
    // background-color: black;
    // border: 1px solid black;
  }
}
