html, body{
  padding: 0;
  margin: 0;
}
.site-header{
  padding: 5px;
  display: flex;
  height: 50px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  margin: 0;
  // width: 100%;
  // position: relative;
  .header-hide{
    display: none;
  }

  .header-loggedin-popout{
    //the buttons that are shown when signed in
    width: 100px;
    border: 1px solid black;
    right: 10px;
    background-color: white;
    ul{
      //the container for the drop down menu
      margin: 0;
      padding: 0;
      list-style: none;

      li{
        //each item in the drop down menu
        border: 1px solid black;
        margin: 0;
        height: 35px;
        text-align: center;
        cursor: pointer;
      }
      li:hover{
        //mouse over effect for the drop down menu
        background-color: black;
        color: white;
      }
    }
  }

  .header-right-signedout{
    //the buttons that are shown when signed out

    .header-login-container{
      //creates a black tinted background on the screen
      width:100%;
      height: 100%;
      background-color: rgba(0,0,0,0.35);
      position: absolute;
      right: 0;
      top: 0;

      .header-login-form{
        //holds the form in the middle
        box-shadow: 5px 5px 5px #888888;
        // box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.25);
        position: fixed;
        height: 500px;
        width: 300px;
        border: solid 1px black;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -150px;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-flow: column;
        align-items: center;
        padding: 10px;


        form{
          //the actual form
          width: 100%;
          input, button{
            width: 100%;
            height: 30px;
          }
        }

        a{
          //the links to switch between the login/signup form
          cursor: pointer;
          text-decoration: underline;
          color: blue;
        }
        .header-login-x{
          //the gray X close button on the right top corner
          align-self: flex-end;
          cursor: pointer;
          font-family: sans-serif;
          color: darkgray;
          font-size: 30px;
        }
      }
    }
  }
}
