html, body, ul{
  padding: 0;
  margin: 0;
}
.site-header{
  padding: 5px;
  display: flex;
  height: 72px;
  border-bottom: 1px solid $indie-lightgray;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  align-items: center;
  .header-hide{
    display: none;
  }



  .header-left{
    ul{
      font-family: sans-serif;
      display: flex;
      list-style: none;
      justify-content: center;

      li{
        margin: 10px;
        font-weight: 600;
        align-self: center;
        font-size: 14px;
        a{
          color: inherit;
          text-decoration: none;
        }
        a:hover{
          color: $indie-pink;
        }

      }
      li:first-of-type a {
        text-decoration: none;
        font-size: 30px;
        margin: 10px;
        margin-left: 15px;
        margin-right: 15px;
        color: $indie-pink;
        font-family: 'Kanit', sans-serif;
      }

    }
  }

  .header-right-signedin{
    display: flex;


  //the right portion of the header displayed when signed in
    div{
      align-self: center;
      position: relative;
      margin: 10px;
      font-family: sans-serif;
      text-transform: capitalize;
      font-family: 'Libre Franklin', sans-serif;
      font-weight: 800;
      font-size: 14px;
      cursor: pointer;
    }

    .header-create-button{
      width: 170px;
      height: 36px;
      border-radius: 2px;
      background-color: $indie-pink;
      color: white;
      line-height: 300%;
      text-align: center;
      a{
        color: white;
        text-decoration: none;
      }

      font-weight: normal;
      font-family: 'Libre Franklin', sans-serif;
      letter-spacing: 1px;
      font-size: 12px;
    }

    .header-create-button:hover{
      background-color: $indie-pink-hover;
      border-color: $indie-pink-hover;
    }

    .header-loggedin-popout{
      //the buttons that are shown when signed in
      width: 160px;
      border: 1px solid $indie-lightgray;
      right: 0px;
      top: 50px;
      background-color: white;
      position: absolute;
      font-family: 'Libre Franklin', sans-serif;
      font-weight: normal;
      z-index: 100;
      ul{
        //the container for the drop down menu
        margin: 0;
        list-style: none;

        li{
          //each item in the drop down menu
          border-bottom: 1px solid $indie-lightgray;
          height: 50px;
          padding: 10px;
          box-sizing: border-box;
          line-height: 200%;
          cursor: pointer;
          a{
            color: $indie-gray;
            text-decoration: none;
          }
          a:hover{
            color: $indie-pink;
          }
        }
        li:last-of-type{
          border: none;
        }
        li:hover{
          //mouse over effect for the drop down menu
          color: $indie-pink;
        }
      }
    }
  }


  .header-right-signedout{
    //the buttons that are shown when signed out
    button{
      height: 30px;
      width: 70px;
      background-color: none;

    }


    .header-right-ul{
      list-style: none;
      display: flex;
      box-sizing: border-box;

      li{
        align-self: center;
        position: relative;
        margin: 10px;
        font-family: sans-serif;
        text-transform: capitalize;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 800;
        font-size: 14px;
        cursor: pointer;
      }
      .header-create-button{
        width: 170px;
        height: 36px;
        border-radius: 2px;
        background-color: $indie-pink;
        color: white;
        line-height: 300%;
        text-align: center;
        a{
          color: white;
          text-decoration: none;
        }

        font-weight: normal;
        font-family: 'Libre Franklin', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
      }
      .header-create-button:hover{
        background-color: $indie-pink-hover;
        border-color: $indie-pink-hover;
      }
    }

    .header-login-container{
      //creates a black tinted background on the screen
      width:100%;
      height: 100%;
      background-color: rgba(0,0,0,0.35);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 100;


      .header-login-form{
        //holds the form in the middle
        box-shadow: 0 0 5px 2px #888888;
        position: absolute;
        height: 500px;
        width: 300px;
        border: solid 1px $indie-lightgray;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -150px;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-flow: column;
        align-items: center;
        padding: 20px;


        form{
          //the actual form
          width: 100%;
          display: flex;
          flex-direction: column;
          // padding-left: 20px;
          input{
            // margin-left: 10px;
            // margin-right: 10px;
            width: 100%;
            height: 30px;

          }
          button{
            //submit button
            width: auto;
            box-sizing: content-box;
            height: 18px;
            cursor: pointer;
            border: 0;
            background-color: $indie-pink;
            color: white;
            align-self: flex-end;
            text-align: center;
            line-height: 125%;
            font-size: 14px;
            border-radius: 2px;
            font-family: 'Libre Franklin', sans-serif;
            padding: 11px 18px;
            font-weight: bold;
            letter-spacing: 1px;
          }
        }

        a{
          //the links to switch between the login/signup form
          cursor: pointer;
          color: blue;
        }
        .header-login-x{
          //the gray X close button on the right top corner
          align-self: flex-end;
          cursor: pointer;
          font-family: sans-serif;
          color: $indie-xgray;
          font-size: 28px;
        }
        .header-login-x:hover{
          color: $indie-pink;
        }

        .header-hint{
          width: 100%;
          border-top: 1px solid $indie-lightgray;
          color: $indie-gray;
          margin-top: 20px;
          font-size: 14px;
          font-family: 'Libre Franklin', sans-serif;
          text-align: right;
          padding-top: 20px;
          a{
            color: $indie-aqua;
          }
          a:hover{
            text-decoration: underline;
          }
          div{
            margin-top: 10px;
            height: 40px;
            background-color: $indie-pink;
            padding: 0 10px 0 10px;
            text-align: center;
            display: inline-block;
            font-weight: bold;
            font-family: $indie-font-family;
            float: right;
            color: white;
            font-size: 14px;
            line-height: 250%;
            cursor: pointer;
          }
        }
      }
    }
  }
}
