.home-page{
  .home-topfive-placeholder{
    height: 350px;
    display: block;
  }
  .feature-topfive{
    position: absolute;
    // width: 100%;
    width: 100%;
    height: 350px;
    left: 0;
    // margin-left: -100px;
    // overflow: hidden;
    overflow: hidden;
    .feature-topfive-inner{
      // overflow: visible;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      // width: 3450px;
      width: auto;
      // align-items: center;
      // align-items: center;
      // align-self: center;
      .feature-topfive-imagediv{
        // overflow-x: hidden;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        // border: 1px solid black;
        position: relative;
        width: 670px;
        height: 350px;
        // border: 1px solid black;
        margin: 0;
        // overflow: hidden;
        img{
          display: block;
          // vertical-align: center;
          // height: 350px;
          // width: 100%;
          align-self: center;

          // height: 100?%;
          // height: 100%;
          width: 100%;
          // height: auto;
          // width: 100%
          // width: 670px;
        }
        .feature-topfive-floatingimgdiv{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          .feature-topfive-floatingdetails{
            // display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.35);
            color: white;
            padding: 20px;
            // justify-content: flex-end;

            font-family: $indie-font-family;
            .topfive-desc{
              opacity: 0.0;
              // position: absolute;
              margin-top: 230px;
              margin-left: 30px;
              // bottom: 80px;
              letter-spacing: 1px;
              vertical-align: top;
              // left: 0;
              display: inline-block;
              font-size: 14px;
              text-shadow: 0 1px 2px rgba(0,0,0,0.5);
              strong{
                display: block;
                margin-bottom: 5px;
              }
              width: 60%;
              // border: 1px solid white;
            }
            .topfive-learnmore{
              opacity: 0.0;
              display: inline-block;
              position: absolute;
              bottom: 70px;
              letter-spacing: 1px;
              right: 80px;
              padding: 10px 20px;
              border: 2px solid white;
              border-radius: 2px;
              font-size: 14px;
              margin-left: 20px;
              // width: 100%;
              font-weight: bold;
              text-transform: uppercase;
              cursor: pointer;
              box-shadow: 0 1px 2px rgba(0,0,0,0.5);
              text-shadow: 0 1px 2px rgba(0,0,0,0.5);
            }
            .topfive-learnmore:hover{
              background-color: white;
              color: $indie-gray;
            }
            .topfive-desc-visible{
              opacity: 1.0;
            }
            // background-color: green;
            // flex-direction: row-reverse;
          }
          // .feature-floatingdetails-shown{
          //   // display: inline-block;
          //   // display: flex;
          // }
          .topfive-details-fadein{
            animation-name: fadein;
            animation-duration: 0.5s;
          }
          @keyframes fadein{
            0%{opacity: 0.0;}
            100%{opacity: 1.0;}
          }
          .topfive-details-fadeout{
            animation-name: fadeout;
            animation-duration: 0.5s;
          }
          @keyframes fadeout{
            0%{opacity: 1.0;}
            100%{opacity: 0.0;}
          }

        }
        .floatingimg-1,.floatingimg-3{
          cursor: pointer;
        }
      }
    }
    // over`

  }
  .topfive-move-right{
    animation-name: moveright;
    // position: relative;
    // position: absolute;
    animation-duration: 0.5s;
  }
  @keyframes moveright{
    0% {}
    // 100% { transform: translateX(620px,0,0);}
    100% {transform: translateX(670px)}
    // 100% {left: 620px;}
  }
  .topfive-move-left{
    animation-name: moveleft;
    // position: relative;
    // position: absolute;
    animation-duration: 0.5s;
  }
  @keyframes moveleft{
    0% {}
    100% {transform: translateX(-670px);}
  }
  // }



  .feature-slider{
    // display: flex;
    // margin: 0 auto;
    font-family: $indie-font-family;
    width: 100%;
    max-width: none;
    position: relative;
    margin-bottom: 60px;
    margin-top: 40px;

    .slider-button{
      position: absolute;
      display: inline-block;
      cursor: pointer;
      color: $indie-arrowgray;
    }
    .slider-button:hover{
      color: $indie-xgray;
    }

    .slider-left-button{
      // float: left;
      left: -70px;
      top: 50%;
    }

    .slider-right-button{
      right: -70px;
      top: 50%;
      // float: right;
    }

    .feature-slider-content{
      display: inline-block;
      width: 100%;
      .feature-slider-menu{
        ul{
          list-style: none;
          li{
            cursor: pointer;
            font-size: 16px;
            padding: 10px;
            margin: 10px;
            color: $indie-gray;

            display: inline-block;
          }
          .selected-li{
            color: $indie-pink;
            border-bottom: 3px solid $indie-pink;
          }
        }
      }

      .feature-slider-tilescontainer{
        justify-content: space-between;
        display: flex;
        width: 100%;
      }
    }

  }
}
