.home-page{
  .home-topfive-placeholder{
    height: 350px;
    display: block;
  }
  .feature-topfive{
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0;
    overflow: hidden;
    .feature-topfive-inner{
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      width: auto;
      .feature-topfive-imagediv{
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        width: 670px;
        height: 350px;
        margin: 0;
        img{
          display: block;
          align-self: center;
          width: 100%;
        }
        .feature-topfive-floatingimgdiv{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          .feature-topfive-floatingdetails{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.35);
            color: white;
            padding: 20px;

            font-family: $indie-font-family;
            .topfive-desc{
              opacity: 0.0;
              margin-top: 230px;
              margin-left: 30px;
              letter-spacing: 1px;
              vertical-align: top;
              display: inline-block;
              font-size: 14px;
              text-shadow: 0 1px 2px rgba(0,0,0,0.5);
              strong{
                display: block;
                margin-bottom: 5px;
              }
              width: 60%;
            }
            .topfive-learnmore{
              opacity: 0.0;
              display: inline-block;
              position: absolute;
              bottom: 70px;
              letter-spacing: 1px;
              right: 80px;
              padding: 10px 20px;
              border: 2px solid white;
              border-radius: 2px;
              font-size: 14px;
              margin-left: 20px;
              font-weight: bold;
              text-transform: uppercase;
              cursor: pointer;
              box-shadow: 0 1px 2px rgba(0,0,0,0.5);
              text-shadow: 0 1px 2px rgba(0,0,0,0.5);
            }
            .topfive-learnmore:hover{
              background-color: white;
              color: $indie-gray;
            }
            .topfive-desc-visible{
              opacity: 1.0;
            }
          }
          .topfive-details-fadein{
            animation-name: fadein;
            animation-duration: 0.5s;
          }
          @keyframes fadein{
            0%{opacity: 0.0;}
            100%{opacity: 1.0;}
          }
          .topfive-details-fadeout{
            animation-name: fadeout;
            animation-duration: 0.5s;
          }
          @keyframes fadeout{
            0%{opacity: 1.0;}
            100%{opacity: 0.0;}
          }

        }
        .floatingimg-1,.floatingimg-3{
          cursor: pointer;
        }
      }
    }

  }
  .topfive-move-right{
    animation-name: moveright;
    animation-duration: 0.5s;
  }
  @keyframes moveright{
    0% {}
    100% {transform: translateX(670px)}
  }
  .topfive-move-left{
    animation-name: moveleft;
    animation-duration: 0.5s;
  }
  @keyframes moveleft{
    0% {}
    100% {transform: translateX(-670px);}
  }



  .feature-slider{
    font-family: $indie-font-family;
    width: 100%;
    max-width: none;
    position: relative;
    margin-bottom: 60px;
    margin-top: 40px;

    .slider-button{
      position: absolute;
      display: inline-block;
      cursor: pointer;
      color: $indie-arrowgray;
    }
    .slider-button:hover{
      color: $indie-xgray;
    }

    .slider-left-button{
      left: -70px;
      top: 50%;
    }

    .slider-right-button{
      right: -70px;
      top: 50%;
    }

    .feature-slider-content{
      display: inline-block;
      width: 100%;
      .feature-slider-menu{
        ul{
          list-style: none;
          li{
            cursor: pointer;
            font-size: 16px;
            padding: 10px;
            margin: 10px;
            color: $indie-gray;

            display: inline-block;
          }
          .selected-li{
            color: $indie-pink;
            border-bottom: 3px solid $indie-pink;
          }
        }
      }

      .feature-slider-tilescontainer{
        // justify-content: space-between;
        // display: flex;
        width: 100%;
        height: 520px;
        overflow: hidden;

        .feature-slider-slider{
          display: flex;
          height: 520px;
          justify-content: center;
          // flex-direction: row;
          // flex-wrap: nowrap;
          .slider-slidingblock{
            width: 1200px;
            flex-shrink: 0;
            // flex-grow: 0;
            height: 520px;
            justify-content: space-between;
            // border: 1px solid black;
            display: flex;
          }
          // overflow: hidden;
        }
      }
    }

  }
  .slider-move-right{
    animation-name: slidermoveright;
    animation-duration: 0.5s;
  }
  @keyframes slidermoveright{
    0% {}
    100% {transform: translateX(1200px)}
  }
  .slider-move-left{
    animation-name: slidermoveleft;
    animation-duration: 0.5s;
  }
  @keyframes slidermoveleft{
    0% {}
    100% {transform: translateX(-1200px);}
  }
}
