$indie-pink: #EB1478;
$indie-gray: #2a2a2a;
$indie-lightgray: #dddddd;
$indie-pink-hover: #fa1681;
$indie-aqua: #0eb4b6;
$indie-xgray: #6a6a6a;
$indie-form-gray: #f5f5f5;
$indie-perk-gray: #FAFAFA;
$indie-perk-text-gray: #a8a8a8;
$indie-contrib-babyblue: #DBF4F4;
$indie-basics-gray: #C8C8C8;
$indie-working-gray: #292929;
$indie-working-yellow: #fdde86;
$indie-purple: #7a69b3;
$indie-lightpink: #EEE5F2;
$indie-darkpurple: #6653a5;
$indie-arrowgray: #b3b3b3;

$indie-font-family: 'Libre Franklin', sans-serif;



.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
