$indie-pink: #EB1478;
$indie-gray: #2a2a2a;
$indie-lightgray: #dddddd;
$indie-pink-hover: #fa1681;
$indie-aqua: #0eb4b6;
$indie-xgray: #6a6a6a;
$indie-form-gray: #f5f5f5;
$indie-perk-gray: #FAFAFA;
$indie-perk-text-gray: #a8a8a8;

$indie-font-family: 'Libre Franklin', sans-serif;
