<header class="site-header">
  <div class="header-left">
    RubyGOGO Explore How it works
  </div>
  <div class="header-right-signedout">
    start a campaign Sign in  Login
  </div>
  <div class="header-right-signedin">
    start a campaign username
  </div>
</header>
